In [3]:
!pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\users\hp\appdata\roaming\python\python312\site-packages (1.1.1)

In [5]:
import pymysql as sql

In [7]:
import numpy as np
import pandas as pd
import pymysql as sql

In [15]:
cs=pd.read_csv('C:\\Users\\HP\\Downloads\\Customer.csv')
pr=pd.read_csv('C:\\Users\\HP\\Downloads\\Products.csv')
od=pd.read_csv('C:\\Users\\HP\\Downloads\\Orders.csv')
tr=pd.read_csv('C:\\Users\\HP\\Downloads\\Transactions.csv')
rt=pd.read_csv('C:\\Users\\HP\\Downloads\\Ratings.csv')
sp=pd.read_csv('C:\\Users\\HP\\Downloads\\Subscription_Plan.csv')
sd=pd.read_csv('C:\\Users\\HP\\Downloads\\Subscription_Details.csv')
dv=pd.read_csv('C:\\Users\\HP\\Downloads\\Delievry.csv')
rr=pd.read_csv('C:\\Users\\HP\\Downloads\\Returns_Refund.csv')

In [17]:
pr.head(10)

          P_ID      PName        Category       Specs1   Price
0  PD_21000001     Threat         Fashion         test  332.77
1  PD_21000002     Former  Home Appliance   successful  225.24
2  PD_21000003   Activity           Books        score  371.94
3  PD_21000004     Friend  Home Appliance  performance  294.26
4  PD_21000005  Attention  Home Appliance   conference   71.29
5  PD_21000006       Tend     Electronics       affect  106.08
6  PD_21000007    Pattern  Home Appliance       dinner  354.91
7  PD_21000008   Property           Books  performance  276.41
8  PD_21000009    Company         Fashion        about  162.23
9  PD_21000010       Bank         Fashion        learn  464.10

In [19]:
print('Customers:',cs.shape)
print('Products:',pr.shape)
print('Orders:',od.shape)
print('Transactions:',tr.shape)
print('Ratings:',rt.shape)
print('Subscription_Plan:',sp.shape)
print('Subscription_Details:',sd.shape)
print('Delivery:',dv.shape)
print('Returns_Refund:',rr.shape)

Customers: (10184, 8)
Products: (10000, 5)
Orders: (10000, 8)
Transactions: (10000, 4)
Ratings: (10000, 4)
Subscription_Plan: (3, 3)
Subscription_Details: (10036, 5)
Delivery: (325, 3)
Returns_Refund: (2000, 5)

In [21]:
cs.duplicated().sum()

184

In [23]:

cs.drop_duplicates(keep='first',inplace=True)

In [25]:
cs.duplicated().sum()

0

In [27]:
pr.duplicated().sum()

0

In [29]:
od.duplicated().sum()

0

In [31]:
tr.duplicated().sum()

0

In [33]:
rt.duplicated().sum()

0

In [35]:
sp.duplicated().sum()

0

In [37]:
sd.duplicated().sum()

0

In [39]:
dv.duplicated().sum()

25

In [47]:
dv.drop_duplicates(keep='first',inplace=True)

In [49]:
dv.duplicated().sum()

0

In [51]:
rr.duplicated().sum()

0

In [53]:
print('Customers:',cs.shape)
print('Products:',pr.shape)
print('Orders:',od.shape)
print('Transactions:',tr.shape)
print('Ratings:',rt.shape)
print('Subscription_Plan:',sp.shape)
print('Subscription_Details:',sd.shape)
print('Delivery:',dv.shape)
print('Returns_Refund:',rr.shape)

Customers: (10000, 8)
Products: (10000, 5)
Orders: (10000, 8)
Transactions: (10000, 4)
Ratings: (10000, 4)
Subscription_Plan: (3, 3)
Subscription_Details: (10036, 5)
Delivery: (300, 3)
Returns_Refund: (2000, 5)

In [55]:
cs.isna().sum()

C_ID              0
C_Name            0
Gender            0
Age               0
City              0
State             0
Street Address    0
Mobile            0
dtype: int64

In [57]:
pr.isna().sum()

P_ID         0
PName       14
Category     0
Specs1       0
Price        0
dtype: int64

In [59]:
pr.dropna(inplace=True)

In [61]:
pr.isna().sum()

P_ID        0
PName       0
Category    0
Specs1      0
Price       0
dtype: int64

In [63]:
od.isna().sum()

Or_ID            0
C_ID             0
P_ID             0
Order_Date       0
Order_Time       0
Qty              0
Coupon        5011
DP_ID            0
dtype: int64

In [100]:
od['Coupon']=od['Coupon'].fillna('No Coupon')

In [102]:
od.isna().sum()

Or_ID         0
C_ID          0
P_ID          0
Order_Date    0
Order_Time    0
Qty           0
Coupon        0
DP_ID         0
dtype: int64

In [69]:
tr.isna().sum()

Tr_ID                0
Or_ID                0
Transaction_Mode    33
Tran_Status          0
dtype: int64

In [104]:
tr['Transaction_Mode']=tr['Transaction_Mode'].fillna('Other MOP')

In [106]:
tr.isna().sum()

Tr_ID               0
Or_ID               0
Transaction_Mode    0
Tran_Status         0
dtype: int64

In [75]:
rt.isna().sum()

R_ID                        0
Or_ID                       0
Prod_Rating                22
Delivery/Service_Rating    29
dtype: int64

In [108]:
rt['Prod_Rating']=rt['Prod_Rating'].fillna(round(rt['Prod_Rating'].mean(),1))

In [110]:
rt['Delivery/Service_Rating']=rt['Delivery/Service_Rating'].fillna(round(rt['Delivery/Service_Rating'].mean(),1))

In [112]:
rt.isna().sum()

R_ID                       0
Or_ID                      0
Prod_Rating                0
Delivery/Service_Rating    0
dtype: int64

In [81]:
sp.isna().sum()

Plan_ID      0
Plan_Name    0
Features     0
dtype: int64

In [83]:
sd.isna().sum()

SD_ID        0
C_ID         0
Plan_ID      0
From_Date    0
To_Date      0
dtype: int64

In [86]:
dv.isna().sum()

DP_ID          0
DP_Name        0
DP_Ratings    20
dtype: int64

In [114]:
dv['DP_Ratings']=dv['DP_Ratings'].fillna(round(dv['DP_Ratings'].mean(),1))

In [116]:
dv.isna().sum()

DP_ID         0
DP_Name       0
DP_Ratings    0
dtype: int64

In [92]:
rr.isna().sum()

RT_ID            0
Or_ID            0
Reason           0
Return/Refund    0
Date             0
dtype: int64

In [118]:
od.drop(['Order_Time'],axis=1,inplace=True)

In [120]:
print(od)

            Or_ID         C_ID         P_ID  Order_Date  Qty        Coupon  \
1     OR_31000002  CS_11000423  PD_21003593  2024-01-21    5          PULL
3     OR_31000004  CS_11004079  PD_21007443  2023-05-26   10     AGREEMENT
4     OR_31000005  CS_11009894  PD_21007621  2023-10-26    7        WINDOW
5     OR_31000006  CS_11004976  PD_21002407  2023-12-09    1          FALL
6     OR_31000007  CS_11009282  PD_21005526  2023-05-12    9          TEAM
...           ...          ...          ...         ...  ...           ...
9992  OR_31009993  CS_11005653  PD_21000788  2024-09-01    5        FRIEND
9993  OR_31009994  CS_11004283  PD_21001629  2024-10-09    1  ORGANIZATION
9994  OR_31009995  CS_11008874  PD_21000407  2023-02-23    6         TRUTH
9995  OR_31009996  CS_11004842  PD_21004878  2024-11-14    5       MILLION
9998  OR_31009999  CS_11006873  PD_21005870  2024-07-15    6         EVERY

            DP_ID
1     DV_61000085
3     DV_61000292
4     DV_61000096
5     DV_61000162
6     DV_61000151
...           ...
9992  DV_61000208
9993  DV_61000046
9994  DV_61000181
9995  DV_61000106
9998  DV_61000028

[4989 rows x 7 columns]

In [122]:
od['Order_Date']=pd.to_datetime(od['Order_Date'])

In [124]:
sd['From_Date']=pd.to_datetime(sd['From_Date'])
sd['To_Date']=pd.to_datetime(sd['To_Date'])

In [126]:
rr['Date']=pd.to_datetime( rr['Date'])

In [140]:
cs.to_csv('your_file.csv', index=False)

In [142]:
pr.to_csv('your_file.csv', index=False)

In [144]:
od.to_csv('your_file.csv', index=False)

In [146]:
tr.to_csv('your_file.csv', index=False)

In [148]:
rt.to_csv('your_file.csv', index=False)

In [152]:
sp.to_csv('your_file.csv', index=False)

In [154]:
sd.to_csv('your_file.csv', index=False)

In [156]:
dv.to_csv('your_file.csv', index=False)

In [159]:
rr.to_csv('your_file.csv', index=False)